<div class="container container-login">
    <div class="row">
        <div class="">
            <img src="http://placehold.it/250x250" alt="">
        </div>
        <div class="col-sm-6 col-login">
            <h4>Acesso ao Sistema</h4>
            <form class="form-login" action="index.html" method="post">
                <fieldset class="form-group">
                    <input  class="form-control"type="text" name="" value="" placeholder="Login">
                    <input class="form-control" type="password" name="" value="" placeholder="Senha">
                </fieldset>

                <button class="btn btn-primary btn-block" type="button" name="button">Acessar</button>
            </form>
        </div>
    </div>
</div>
